
// ------------------------------------------------------------------------
// CONSTS

$white: #ffffff
$black: #000000
$wikiBlue: #1565c0
$wikiDarkGrey: #424242
$wikiLightGrey: #eeeeee


// ------------------------------------------------------------------------
// MIXINS / FNS

@mixin retina
  @media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)
    @content


// ------------------------------------------------------------------------
// MAIN

*
  text-transform: lowercase !important

.container-fluid
  padding: 0

h1
  color: $wikiDarkGrey
  font-style: italic
  border-bottom: 5px solid $wikiDarkGrey

h2
  color: $wikiDarkGrey
  font-size: 1rem
  border-bottom: 1px solid $wikiDarkGrey


// ------------------------------------------------------------------------
// SCRIPT PANELS

.gallery-panel
  background: $wikiLightGrey
  padding: 10px
  margin-bottom: 20px

  .norns-screenshot-container
    position: relative
    overflow: hidden

    img
      display: inline-block
      width: 100%

    .img-norns-screenshot
      z-index: 50
      -webkit-filter: grayscale(100%)
      filter: grayscale(100%)
      @include retina
        image-rendering: -moz-crisp-edges
        image-rendering: crisp-edges
        image-rendering: pixelated

    .img-norns-screenshot
      position: absolute
      top: 0
      left: 0
      z-index: 100

.gallery-panel:hover
  background: $wikiBlue
  color: $white
  cursor: pointer

  a
    color: $white


// ------------------------------------------------------------------------
// IO ICONS

ul.norns-feature-container
  height: 24px
  list-style: none
  margin: 5px 0 0 0
  padding: 0

  li
    float: left

    img
      height: 24px
      width: 27px
      margin-right: 5px
      margin-bottom: 5px

  li.feature-kbd,
  li.feature-mouse,
  li.feature-jf,
  li.feature-16n,

    img
      height: 24px
      width: 52px

ul.norns-feature-io
  height: auto
