
// ------------------------------------------------------------------------
// CONSTS

$white: #ffffff
$black: #000000
$wikiBlue:  #f1ba7d
/* $wikiDarkGrey: #424242
$wikiDarkGrey: #444
$wikiLightGrey: #444


// ------------------------------------------------------------------------
// MIXINS / FNS

@mixin retina
  @media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)
    @content


// ------------------------------------------------------------------------
// MAIN

*
  text-transform: lowercase !important

.container-fluid
  padding: 0

h1
  color: $wikiDarkGrey
  font-style: italic
  border-bottom: 5px solid $wikiDarkGrey

h2
  color: $wikiDarkGrey
  font-size: 1rem
  border-bottom: 1px solid $wikiDarkGrey

a.script-name
  /* font-size: calc(0.8rem + .6vw)
  font-size: calc(1.3rem)
  // NB: don't make them look like links
  // -> indeed, for JS-enabled browsers, the whole panel is clickable
  // -> indeed, for CLI browsers, they will get styled independently of CSS
  color: inherit
  text-decoration: inherit

// ------------------------------------------------------------------------
// SCRIPT PANELS

.gallery-panel-link
  text-decoration: none
  color: black

.gallery-panel
  background: $wikiLightGrey
  padding: 10px
  margin-bottom: 20px

  .norns-screenshot-container
    position: relative
    overflow: hidden

    img
      display: inline-block
      width: 100%

    .img-norns-screenshot
      z-index: 50
      -webkit-filter: grayscale(100%)
      filter: grayscale(100%)
      @include retina
        image-rendering: -moz-crisp-edges
        image-rendering: crisp-edges
        image-rendering: pixelated

    .img-norns-screenshot
      position: absolute
      top: 0
      left: 0
      z-index: 100

.gallery-panel:hover
  background: $wikiBlue
  color: $white
  cursor: pointer

  a
    color: $white

// NB: scripts filtered out
.hidden
  display: none !important


// ------------------------------------------------------------------------
// IO ICONS

ul.norns-feature-container
  height: 24px
  list-style: none
  margin: 5px 0 0 0
  padding: 0

  li
    float: left

    img
      height: 24px
      width: 27px
      margin-right: 5px
      margin-bottom: 5px

  li.feature-kbd,
  li.feature-mouse,
  li.feature-jf,
  li.feature-16n,

    img
      height: 24px
      width: 52px

ul.norns-feature-io
  height: auto


// ------------------------------------------------------------------------
// FILTER BUTTONS (BOOSTRAP)

// NB: this is a very quaick brute-force way to do
// should normally import the boostrap SASS source into this file & set the appropriate variables beforehand

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited
  background-color: $wikiLightGrey !important
  border: none !important
  -webkit-box-shadow: none !important
  -moz-box-shadow: none !important
  box-shadow: none !important

.btn-check:checked + .btn-primary
  background-color: $wikiBlue !important
