## dev tools
/.lein-*
/*-init.clj
profiles.clj
nomis-ns-graph.png

## logs
/*.log

## output
out
/target
/classes
/checkouts
/resources/public/js/compiled
/resources/public/css/main.css
*.class
pom.xml
pom.xml.asc

## REPL
.nrepl-port

## cljs
.shadow-cljs
node_modules
# package.json
package-lock.json

## various
.hgignore
.hg/
.sass-cache
