@tailwind base;

@tailwind components;

/* NB: put custom defs here */

:root {
    --norns-screenshot-scale: 3;
    --norns-screenshot-padding: 10px;
}

body {
    font-family: roboto,"helvetica neue",helvetica,noto,"segoe ui",arial,sans-serif;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-view {
    margin: 0 15px;
}

h2 {
    font-size: 2em;
    margin-left: 0.5em;
    margin-top: 1em;
    font-style: italic;
}

.script-category-section {
    background-color: #f5f6fa;
    /* margin: 0 15px; */
}

.script-panels-container {
    margin: -5px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    /* margin-top: 0.5em; */
    /* margin-bottom: 0.5em; */
}

.script-panel-container {
    padding: 5px;
}
.script-panel {
    background-color: #eeeceb;
    padding: 10px;

    cursor: pointer;
    /* transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95); */
}

.script-panel:hover {
    /* transform: scale(1.02); */
    transform: scale(1.05);
}
.script-title {
    font-size: 1em;
    font-weight: bold;
}

.norns-screenshot-container {
    background-color: black;

    width: calc(var(--norns-screenshot-scale) * 128px + 2 * var(--norns-screenshot-padding));
    height: calc(var(--norns-screenshot-scale) * 64px + 2 * var(--norns-screenshot-padding));
    padding: var(--norns-screenshot-padding);
}

.img-norns-screenshot {
    width: calc(var(--norns-screenshot-scale) * 128px);
    height: auto;

    /* NB: we need to make multiple declaration to support all browsers... */
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.norns-feature-container {
    margin: 0 0.2em;
}

.img-norns-feature {
    height: 1.5em;
}

.switch-toggle {
    float: left;
    background: #242729;
}
.switch-toggle input {
    position: absolute;
    opacity: 0;
}
.switch-toggle input + label {
    padding: 7px;
    float:left;
    color: #fff;
    cursor: pointer;
}
.switch-toggle input.switch-filter-in-required:checked + label {
    background: red;
}
.switch-toggle input.switch-filter-in:checked + label {
    background: orange;
}
.switch-toggle input.switch-filter-out:checked + label {
    background: green;
}
.switch-toggle input.switch-neutral:checked + label {
    background: grey;
}

@tailwind utilities;
